<html>
  <head>
    <title>About</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="..\static\style.css" />
  </head>
  <body>
    <div style="margin: 2%;">
      <div id="navigation">
        <a href="/">Home</a>
        <a href="/about">About Us</a>
      </div>
      <div class="sec-head">
        <h2>About us</h2>
      </div>
      <div class="content">
        <p>
          In today's world it is very easy to plagiarize others work due to
          advancement in technology, especially by the use of Internet or other
          offline sources such as books or magazines. Plagiarism is not only
          morally wrong but illegal too.
        </p>
        <p>
          Many tools and platforms are available for checking whether a document
          is plagiarised or not by comparing it with other available documents.
          However, if a document is encountered for which no reference is
          available online, it becomes difficult to detect plagiarism in that
          document.
        </p>
        <p>
          <b
            >We detect plagiarism in documents even when the original source is
            not available.</b
          >
        </p>
        <p>
          We provide you an easy to use interactive application where the user
          only has to upload the text file to be checked for plagiarism and
          result is displayed on the webpage itself. In addition, the user can
          also see the analysis of the document in the form of graphs.
        </p>
      </div>
    </div>
  </body>
</html>
