<html>
  <head>
    <title>upload</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div style="margin: 2%;">
      <div id="navigation">
        <a href="/">Home</a>
        <a href="/about">About Us</a>
      </div>
      {%if n_clusters <= 1%}
      <div class="sec-head">
        <h2>No Plagiarism detected!</h2>
      </div>
      {%else%}
      <div class="sec-head">
        <h2>The possibly plagiarized segments are highlighted:</h2>
        <h4>(Noisy data is represented with grey colour)</h4>
      </div>
      <div class="content">
        {% for i in range(labels|length)%}
        <h6>
          <mark style="background-color: {{colours[i]}};">{{segments[i]}}</mark>
        </h6>

        {%endfor %}
      </div>
      {%endif%}
    </div>
    <br />
    <div style="margin: 2%;">
      <div class="sec-head">
        <h2 align="center">Analysis</h2>
      </div>
      <div class="content">
        <div class="row" style="display: flex; justify-content: space-around;">
          <img src="{{fig0}}" class="img-responsive" style="width: 30%;" />
          <img src="{{fig1}}" class="img-responsive" style="width: 30%;" />
          <img src="{{fig2}}" class="img-responsive" style="width: 30%;" />
          <!--<img src="{{fig3}}" class="img-responsive" style="width: 25%;" />-->
        </div>
      </div>
    </div>
  </body>
</html>
