<html>
  <head>
    <title>upload</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div style="margin: 2%;">
      <h4>The Possibly plagiarized segments are:</h4>
      <br />
      {% for i in range(labels|length)%} {% if labels[i]!=maxFreqCluster and
      labels[i]!=-1%}
      <h6>{{segments[i]}}</h6>
      {%endif%} {%endfor %}
    </div>
    <br />
    <div style="margin: 2%;">
      <h4 align="center">Analysis</h4>
      <br />
      <div class="row" style="display: flex; justify-content: space-around;">
        <img src="{{fig0}}" class="img-responsive" style="width: 30%;" />
        <img src="{{fig1}}" class="img-responsive" style="width: 30%;" />
        <img src="{{fig2}}" class="img-responsive" style="width: 30%;" />
        <!--<img src="{{fig3}}" class="img-responsive" style="width: 25%;" />-->
      </div>
    </div>
  </body>
</html>
